/** HEADER **/
body {
    width: 100%;

}

header, h1{
    text-align: center;
}

header div img{
    width: 30vh;
}

header hr{
    border: 1px solid yellow;
}

#scritta p{
    color: #107777;
    margin-bottom: 20vh;
}
/** MAIN **/
main, footer {
    margin: auto;
    width: 50%;
}

.margine{
    margin-left: 5vh;
}

.margine h2{
    margin-bottom: -2vh;
}

figure figcaption{
    margin-left: 45vh;
    color: lightgrey;
}

section h2{
    color: orangered;
}

section ins{
    color: #107777;
}

figure img{
    border-radius: 20px;
}

article hr{
    border: 1px solid lightskyblue;
}



